body{
    padding: 0;
    margin: 0;
}

nav{
    
}

h3{
    color: black;
}

section{
    
}

#menu{
    background-color: aqua;
}

.nav_wrap{
    display: table;
    padding: 20px 0 20px 0;
    margin: 0 auto 0 auto;
    
}

.item{
    display: inline-block;
}

.item_text:hover{
    background-color: azure;
    cursor: pointer;
}

.item_text{
    padding: 20px;
    
}

#intro{
    width: 100%;
    background-color: lightgray;
    position: relative;
}

#icon{
    width: 150px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 0;
    left:0;
    bottom:0; 
    right:0;
    margin: auto;
    border-radius: 50%;
     background-image:url(/images/logo-head.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9;
}

.main{
    background-color: #ffffff;
    width: 100%;
    min-height: 700px;
}

.intro_block{
    width: 50%;
    height: 300px;
    background-color: darkgray;
    float: left;
    position: relative;
    z-index: 1;
}

.blue-overlay{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: .5;
}

.blue-gradient{
    background: blue; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, blue, black); /* Standard syntax */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: .5;
}

.intro_block_alt{
    background-color: aqua;
}

.clear{
    clear: both;
}

#block1{
    background-image:url('/images/museum.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#block2{
    background-image:url('/images/sonic.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#block3{
    background-image:url('/images/computer.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#block4{
    background-image:url('/images/son.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.text_layer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    width: 100%;
}

.text_layer h3{
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 20%;
}
